/* test css for about page */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

/* map container */
.map-container {
    width: 100%;
    padding-bottom: 100%; /* sets height equal to width, a square */
    position: relative;
}

/* fixes leaflet tile bug */
.leaflet-container.leaflet-touch-drag {
    -ms-touch-action: pinch-zoom;
    touch-action: none;
    touch-action: pinch-zoom;
    width: 100%;
    height: 100vh;
}

/* marker css */
.marker-popup {
    font-size: 16px;
    border: 2px solid gray;
    border-radius: 5px;
}

/* neighborhood summary css */
.neighborhood-info {
    font-size: 16px;
    background-color: white;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
}

/* neighborhood drop down */
.neighborhood-control {
    background-color: white;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
}

.neighborhood-control label,
.neighborhood-control select {
    font-size: 16px;
    padding: 5px;
}

/* width when untouched */
#neighborhoods-dropdown {
    width: 200px;
}

/* width during user interaction */
#neighborhoods-dropdown:focus {
    width: auto;
}

.infoBox-chart {
    width: 100%,
}