<!-- temp page, figuring that we might want it, but it doesn't work with app.py -->
<!-- so it annoys me, and I want to make it work, on understand why it doesn't -->

<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body class="dark-mode">
    <h1>About</h1>
    <p>Authors: Amber Amparo, Moussa Diop, Bryan Johns, and Imen Najar, October, 2023</p>

    <img src="../static/images/panda.gif" alt="Panda Image">
    <br>
    <a href="{{ url_for('home') }}" style="color: cyan;">Back to Homepage</a>
    <br>

</body>
</html>
