<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DC AirBnB Debate</title>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin="" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/CSS/style.css">
</head>

<body>

<!-- !!TEST!!!   -->
<!-- GW Project 3 test to print SQL database on top of html -->
  <!-- <br>
  <a href="{{ url_for('about') }}">About</a>
  <br> -->

  <br>
  <div class="container">
    <div class="row">
        <div class="col-md-12 jumbotron text-center" style="background-image: url('/static/images/background.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center">
        <h1 style="color: white">AirBnB</h1>
        <p style="color: white">The dirty secret they don't want you to know</p>
        <h6 style="color: white">**That we may also have completely made up</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>Test Subject ID No.:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Demographic Info</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-5">
        <div id="bar"></div>
      </div>
      <div class="col-md-5">
        <div id="gauge"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="bubble"></div>
      </div>
    </div>
    <br>

    <!-- Chart container -->
    <div class="chartBox"><h4> Top Ten Property Type by Total Number of Reviews:</h4>
      <canvas id="property_type"></canvas>
    </div>

    </div>
    <!-- Chart2 container -->
    <div class="chartBox">
    <canvas id="neighborhood"></canvas><h4> Top Ten Neighborhoods by Total Number of Reviews:</h4>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="map-container">
          <div id="map-id"></div>
        </div>
      </div>
    </div>
  </div>


  <!-- DELETE EVENTUALLY -->
<!-- biodiversity belly button detritus -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- DELETE EVENTUALLY -->



  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script>
  <!-- ESRI plugin for base layers -->
  <script src="https://cdn.jsdelivr.net/npm/esri-leaflet@2.3.3/dist/esri-leaflet.js"></script>
  <!-- Chart JS -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!-- map JS -->
  <script src="/static/js/map.js"></script>
  <!-- main JS -->
  <script src="/static/js/logic.js"></script>

</body>

</html>